<div class="container">
    <div class="row">
        <div class="col-12" id="top-bar">
            <h1>-BRGRS-</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6" class=" task">
            <hr />
            <h2>BURGERS</h2>
            <hr />
            <ol>
                {{#each burgers}}
                {{#unless devoured}}
                <li>
                    {{burger_name}}

                    <button class="change-devoured btn btn-sm btn-dark active" data-id="{{id}}" data-newdevoured=true>
                        {{#if devoured}}Test{{else}}Enjoy!{{/if}}
                    </button>
                </li>
                {{/unless}}
                {{/each}}
            </ol>
        </div>
        <div class="col-6" class="task">
            <hr />
            <h2>DEVOURED</h2>
            <hr />
            <ol>
                {{#each burgers}}
                {{#if devoured}}
                <li>
                    {{burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center enter_section">
            <h2>CREATE YOUR OWN TASTY BURGER!</h2>
            <form class="burger-form">

                <div class="form-group">
                    <label for="brg">BURGER NAME:</label>
                    <input type="text" id="brg" name="burger_name">
                </div>

                <div class="form-group" id="radio">
                    <label for="devoured">AVAILABILITY:</label><br>
                    <input type="radio" name="devoured" value="1" checked> Devoured<br>
                    <input type="radio" name="devoured" value="0"> Freshly Made
                </div>

                <button class="btn btn-md btn-dark active" aria-pressed="true" id="brgBtn" type="submit">Add
                    Burger</button>
            </form>
        </div>
    </div>
</div>